<div>
<%= link_to trip_segment.name, trip_segment_path(trip_segment.id) %>:
</div>
<div>
<%= trip_segment.origin %>==>
<%= link_to trip_segment.destination, destination_path(trip_segment.destination), :remote => true %>
</div>
<div>
<%= trip_segment.distance_in_miles %> miles
</div>
<br>